<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <description>Filters all requests to ncWMS</description>
        <filter-name>GlobalFilter</filter-name>
        <filter-class>uk.ac.rdg.resc.ncwms.filters.GlobalFilter</filter-class>
        <init-param>
            <description>Log4J configuration file location</description>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/conf/log4j.properties</param-value>
        </init-param>
    </filter>
    <filter>
        <description>Filters access to admin web application</description>
        <filter-name>LoginFilter</filter-name>
        <filter-class>uk.ac.rdg.resc.ncwms.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GlobalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/index.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>PyServlet</servlet-name>
        <servlet-class>org.python.util.PyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PyServlet</servlet-name>
        <url-pattern>*.py</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            WMS.py
        </welcome-file>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
